body{
    background-color: rgb(99, 183, 252);
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
}
div.paragrafo{
    margin: auto;
    width: 80%;
    height: 10%;
    padding: 15px;
}
p{
    font-weight: 100;
}